@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    .imagem-container {
      width: 130px;
      height: 130px;
    }
  }
}

@media (max-width: 660px) {
  .container,
  .initial {
    margin: 50px 5px;
    .title {
      h1 {
        font-size: 4vh;
      }
    }
  }
}

@media (max-width: 480px) {
  .apagar i,
  .checar i {
    font-size: 2vh;
  }
  button.quantidade {
    padding: 3px;
    border-radius: 15px;
    background-color: #d9eeff;
  }

  button.quantidade:hover {
    background-color: #75baff;
  }

  button.quantidade span {
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
  }

  button.quantidade span.incremento {
    margin-right: 2px;
    line-height: 12px;
  }

  button.quantidade span.decremento {
    margin-left: 2px;
    line-height: 10px;
  }

  input.numero {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 15px;
    color: #202030;
    text-align: center;
  }
  .tarefas {
    padding-left: 3px;
    list-style-type: space-counter;
    font-size: 2.5vh;
  }

  .estilo-div {
    width: 150px;
  }
  .title {
    font-size: 4vh;
  }

  ::-webkit-scrollbar {
    height: 6px;
  }
}
