@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
:root {
  --primary-color: rgb(44, 62, 80);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

header {
  width: auto;
  height: 75px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.menu h1 {
  color: #e64940;
}
.menu .logo {
  display: block;
}
.menu .logo img {
  height: 50px;
  width: 50px;
}
.menu nav .menu-computador ul {
  display: flex;
  list-style: none;
}
.menu nav .menu-computador ul a {
  text-decoration: none;
  color: #e64940;
  margin: 0 4px;
  position: relative;
  font-size: 0.85rem;
}
.menu nav .menu-computador ul a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff0000;
  transition: width 0.3s ease;
}
.menu nav .menu-computador ul a:hover {
  color: #ff0000;
}
.menu nav .menu-computador ul a:hover::after {
  width: 100%;
}

.tarefas {
  list-style-type: space-counter;
  font-size: 3vh;
  padding: 8px;
}

.container,
.initial {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.container .title,
.initial .title {
  color: #42427f;
}
.container .title h1,
.initial .title h1 {
  font-size: 5vh;
}
.container .imagem-container,
.initial .imagem-container {
  width: 160px;
  height: 200px;
}
.container .contents,
.initial .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial {
  justify-content: center;
  font-weight: 500;
  font-size: 3.3vw;
  padding: 30px;
}

.input {
  margin-top: 3px;
  padding: 8px;
  display: flex;
  width: 100%;
}
.input .input-tarefa {
  width: -webkit-fill-available;
  border: 2px solid #42427f;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}
.input .input-tarefa:focus {
  border: 3px solid #42427f;
}

.btn-tarefa {
  border: none;
  background-color: #fff;
}
.btn-tarefa img {
  margin-top: 2px;
  width: 33px;
}

.lista {
  display: flex;
}

.apagar,
.checar {
  border: none;
  background-color: white;
  padding-left: 0px;
  margin-left: 4px;
}

.apagar i {
  font-size: 1.3em;
  margin-bottom: -3px;
  color: #ff0000;
}

.checar i {
  font-size: 1.3em;
  margin-bottom: -3px;
}

li[data-color=green] {
  color: green;
}
li[data-color=green] .checar i {
  color: green;
}

p#total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  background-color: #f05945;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

#total:hover {
  background-color: #d43f2a;
}

button.quantidade {
  height: -moz-min-content;
  height: min-content;
  outline: none;
  border: 2px solid #42427f;
  background-color: #d9eeff;
  cursor: pointer;
  padding: 4px;
  border-radius: 20px;
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin-right: 3px;
}

button.quantidade:hover {
  background-color: #4fa4ff;
}

button.quantidade span {
  font-size: 12px;
  color: #ffffff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: #4fa4ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.quantidade span.incremento {
  margin-right: 2px;
}

button.quantidade span.decremento {
  margin-left: 2px;
  line-height: 14px;
}

input.numero {
  width: 50px;
  height: 24px;
  padding: 4px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  color: #202030;
  border-radius: 20px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.valor-produto {
  width: 42px;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
  margin: 3px;
  display: flex;
  text-align: center;
}

.valor-produto:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.2);
}

.valor-produto::-moz-placeholder {
  color: #999;
}

.valor-produto::placeholder {
  color: #999;
}

li {
  margin: 5px 0;
}

.estilo-div {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
}

.estilo-span {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  align-items: center;
  overflow-x: auto;
}

.estilo-div-geral {
  display: flex;
  align-items: center;
}

/* Scroll bar */
body::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  height: 9px;
  border-radius: 2em;
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  width: 74%;
  background: #42427f;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #75baff;
}/*# sourceMappingURL=style.css.map */